<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body ng-app="app">
    <div ng-view></div>
</body>

<!--
<script src="github_commits/libs/angular.js"></script>
<script src="github_commits/libs/angular-route.js"></script>

<script src="github_commits/app/app.js"></script>
<script src="github_commits/app/states/index/index.js"></script>
-->

<script src="/static/github_commits/libs/angular.js"></script>
<script src="/static/github_commits/libs/angular-route.js"></script>

<script src="/static/github_commits/app/app.js"></script>
<script src="/static/github_commits/app/states/index/index.js"></script>

</html>
